.admin-books-container {
  margin-top: 80px;
  padding: 24px;
  min-height: calc(100vh - 80px); /* altura total menos el header */
}

.book-form-container {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding: 24px;
  border: 4px solid #916f5b;
  border-radius: 20px;
}

.add-book-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  margin-bottom: 20px;
  background-color: #0e7c86;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.add-book-button:hover {
  background-color: #0a5c63;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.add-book-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.admin-book-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.book-form-container label {
  display: block;
  color: #555;
  font-weight: 500;
  text-align: left;
}

.book-form-container select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}

.admin-book-form input,
.admin-book-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.admin-book-form button {
  margin-top: 10px;
  padding: 12px;
  background: #0e7c86;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.admin-book-form button:hover {
  background: #0a5c63;
}
