.homeContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}

.homeSectionTop {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;  
  padding: 40px 0;
}

.homeSectionTopLeft {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeImg {
  height: 700px;
}

.homeSectionTopRight {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  height: 100%;
  width: 800px;
}

.authHomeContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.authHomeText {
  width: 50%;
}

h1 {
  margin: 0;
  font-size: 3em;
  line-height: 1.1;
  text-align: start;
}

.authHomeText h2 {
  text-align: start;
}

.buttonsContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.loginGuestButton {
  width: 200px;
  height: 80px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: rgb(141, 123, 104);
  color: black;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
}

.homeSectionBottom {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 40px;
}

.topSwiper {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.bottomSwiper {
  display: flex;
  flex-direction: column;
  width: 100%;
}