.homeContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
  min-width: 1800px;
}

.homeContent {
  display: flex;
  flex-direction: column;
  width: 86%;
  box-sizing: border-box;
}

.homeSectionTop {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 40px 0;
}

.homeSectionTopLeft {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeImg {
  height: 700px;
}

.homeSectionTopRight {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 800px;
}

.authHomeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.authHomeContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.authHomeText {
  width: 50%;
}

h1 {
  margin: 0;
  text-align: justify;
  font-size: 2.6em;
  line-height: 1.1;
}

.authHomeText h2 {
  text-align: start;
  font-size: 20px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.loginGuestButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 54px;
  padding: 0 10px;
  border-radius: 14px;
  color: black;
  font-size: 15px;
  font-weight: 500;
  background-color: #eedacb;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.loginGuestButton:hover {
  background-color: rgb(200, 180, 160);
}

.loginGuestButton:active {
  transform: scale(0.98);
}

.homeSectionBottom {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 40px;
}

.topSwiper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottomSwiper {
  display: flex;
  flex-direction: column;
  width: 100%;
}