html {
  overflow-y: scroll;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffdfb;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif
}

#root{
  width: 100%;
}

input,
a,
button,
form {
  font-family: 'Poppins', sans-serif;
}

