.navbar {
  display: flex;
  align-items: center;
  min-width: 100vw;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
}

.logoContainer {
  margin: 0;
  display: flex;
  margin-left: 60px;
  min-width: 200px;
}

.logoLink {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

.logoImg {
  width: 40px;
  margin: 0 auto;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 1000px;
  width: 100%;
  gap: 120px;
  justify-content: flex-start;
}

.navList li {
  cursor: pointer;
  font-weight: 500;
}

.authButtons {
  display: flex;
  min-width: 300px;
  margin-right: 60px;
  justify-content: end;
  gap: 25px;
}

.authButtons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid white;
  height: 42px;
  width: 110px;
}

.loginButton {  
  background-color: #b5e4e8;
  color: #000000;
}

.signButton{
  background-color: #0e7c86;
  color: #ffffff;
}

Link{
  text-decoration: none;
}