.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 80px;
  box-sizing: border-box;
  box-shadow: 0 1.2px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  background-color: #fff5ee;
}

.navContent {
  display: flex;
  width: 100%;
  padding: 0 120px;
}

.logoContainer {
  margin: 0;
  display: flex;
  min-width: 200px;
}

.logoLink {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

.logoImg {
  width: 40px;
  margin: 0 auto;
}

.navItemsContainer {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  justify-content: end;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.searchBar input {
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 3px solid #f0dfd2;
  width: 500px;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 80px;
  max-width: 1000px;
}

.navList li {
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
}

.nav-li{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4px 10px 0;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
}

.nav-li:hover {
  border-bottom: 4px solid #916f5b;
}

.nav-active {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4px 10px 0;
  box-sizing: border-box;
  border-bottom: 4px solid #916f5b;
  color: #916f5b;
  justify-content: center;

  a{
    width: 60px;
  }
}

.navCart{
  justify-content: space-between;
}

a {
  color: black;
  text-decoration: none;
}

.authButtons {
  display: flex;
  min-width: 300px;
  justify-content: end;
  gap: 14px;
}

.loginButton {
  background-color: #f0dfd2;
  color: #000000;
  display: flex;
  align-items: center;
  height: 42px;
  width: 108px;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.signButton {
  background-color: #f0dfd2;
  color: #000000;
  display: flex;
  align-items: center;
  height: 42px;
  width: 108px;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.loginButton:hover {
  background-color: rgb(200, 180, 160);
  cursor: pointer;
  font-weight: 550;
}

.loginButton:active {
  background-color: rgb(141, 123, 104);
  transform: scale(0.97);
}

.signButton:hover {
  background-color: rgb(200, 180, 160);
  cursor: pointer;
  font-weight: 550;

}

.signButton:active {
  background-color: rgb(141, 123, 104);
  transform: scale(0.97);
}