.catalogueContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;  
  box-sizing: border-box;
  margin: 2px 0;
  margin-top: 80px;
  padding: 40px 120px;
}

.catalogueAside{
  width: 240px;
  box-sizing: border-box;
  position: absolute;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 4px;
}

.catalogueMain {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin-left: 240px;
  max-height: 800px;
}

.books{
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  gap: 20px;
}

.asideComments{
  min-width: 240px;
  height: 100%;
  box-sizing: border-box;
}

.swiper-section {
  height: 320px;
  padding: 0 120px;
}