.catalogueContainer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid red;
}

.catalogueAside{
  height: 100%;
  width: 500px;
  border: 1px solid blue;
}

.catalogueMain {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid green;
}

.asideComments{
  width: 500px;
  height: 100%;
  border: 1px solid purple;
}

.swiper-section {
  height: 320px;
  padding: 0 120px;
}