.catalogueContainer {
  display: flex;
  width: 100%;  
}

.catalogueAside{
  height: 100%;
  width: 500px;
  
  box-sizing: border-box;
}

.catalogueMain {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  box-sizing: border-box;
}

.asideComments{
  width: 500px;
  height: 100%;
  box-sizing: border-box;
}

.swiper-section {
  height: 320px;
  padding: 0 120px;
}